body { 
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #e5e5e5;
    margin: 5px;
    text-align: center;
    text-align: left;
    background-image: url(assets/fundo\ marrom.jpg);
}

h2 {
    color: #ffeeee;
     text-align: center;
     font-size: xx-large;
    background-color:#5a2a2a;
    padding: 80px;
}

.caixa {
    background-color:#ecdede;
    border: solid rgb(83, 40, 40);
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    margin: 20px auto;
}

input {
    margin: 7px;
}

button {
    margin-top: 10px;
    padding: 8px;
    background-color:  rgb(83, 40, 40);
    color: white;
    border: none;
}

#resultado {
    margin-top: 10px;
    color: #333;
}

img{
       width: 230px;
    height: 150px;

   
}

