body { 
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #e5e5e5;
    margin: 5px;
    text-align: center;
    text-align: left;
    background-image: url(assets/fundo\ marrom.jpg);
}

.caixa {
    background-color:#ecdede;
    border: solid rgb(83, 40, 40);
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    margin: 20px auto;
}

input {
    margin: 7px;
}

button {
    margin-top: 10px;
    padding: 8px;
    background-color:  rgb(83, 40, 40);
    color: white;
    border: none;
}

#resultado {
    margin-top: 10px;
    color: #333;
}



img {
    width: 180px;
    height: 120px;
    margin: 1;
}

nav {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    background-color: rgb(83, 40, 40);
    position: relative; 
}

h2 {
    color: #ffeeee;
    position: absolute;
    left: 800px;
    margin: 0;
}



